## Importing the Necessary Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the Dataset

In [3]:
dataset = pd.read_csv("Water Usage Data for ML Model")

In [3]:
dataset = dataset.drop('Unnamed: 0', axis=1)

In [4]:
dataset

,ID,No of Members Under 18,No of Members above 18,No of Water using Appliances,Garden(Yes/No),Season,Weather,Water Availability in Diff Sources,Region,Holiday(Yes/No),Per Day Water Usage
0,1,3,4,14,yes,rainy,cloudy,5618,urban,no,2780
1,1,3,4,14,yes,rainy,cloudy,6131,urban,no,2137
2,1,3,4,14,yes,rainy,cold,5842,urban,no,2854
3,1,3,4,14,yes,rainy,humid,5969,urban,no,2650
4,1,3,4,14,yes,rainy,dry,6288,urban,no,2071
5,1,3,4,14,yes,rainy,rain,6396,urban,no,2751
6,1,3,4,14,yes,rainy,rain,5072,urban,yes,2068
7,1,3,4,14,yes,rainy,cloudy,6401,urban,no,2814
8,1,3,4,14,yes,rainy,rain,6979,urban,yes,2556
9,1,3,4,14,yes,rainy,cloudy,5317,urban,yes,2757
10,1,3,4,14,yes,rainy,rain,5878,urban,no,2746
11,1,3,4,14,yes,rainy,rain,6105,urban,yes,2263
12,1,3,4,14,yes,rainy,humid,6638,urban,no,2788
13,1,3,4,14,yes,rainy,cloudy,5475,urban,no,2122
14,1,3,4,14,yes,rainy,rain,5208,urban,no,2438
15,1,3,4,14,yes,rainy,humid,6352,urban,no,2121
16,1,3,4,14,yes,rainy,hot,6641,urban,no,2769
17,1,3,4,14,yes,rainy,humid,6191,urban,yes,2721
18,1,3,4,14,yes,rainy,hot,6929,urban,yes,2582
19,1,3,4,14,yes,rainy,cloudy,6374,urban,no,2040
20,1,3,4,14,yes,rainy,rain,6893,urban,no,2340
21,1,3,4,14,yes,rainy,dry,6494,urban,no,2538
22,1,3,4,14,yes,rainy,cloudy,6683,urban,no,2480
23,1,3,4,14,yes,rainy,humid,5005,urban,no,2513
24,1,3,4,14,yes,rainy,cold,6454,urban,no,2753
25,1,3,4,14,yes,rainy,humid,5892,urban,yes,2137
26,1,3,4,14,yes,rainy,rain,5382,urban,yes,2070
27,1,3,4,14,yes,rainy,rain,6665,urban,no,2558
28,1,3,4,14,yes,rainy,rain,6883,urban,yes,2244
29,1,3,4,14,yes,rainy,cloudy,5599,urban,no,2238

## Encoding Feature Variables

In [5]:
X = dataset.iloc[:, 1:-1]
y = dataset.iloc[:, -1]

In [6]:
categorical = ["Garden(Yes/No)", "Season", "Weather", "Region", "Holiday(Yes/No)"]

In [7]:
from sklearn.preprocessing import LabelEncoder

le_season = LabelEncoder()
X["Season"] = le_season.fit_transform(X["Season"])

le_weather = LabelEncoder()
X["Weather"] = le_weather.fit_transform(X["Weather"])

le_region = LabelEncoder()
X["Region"] = le_region.fit_transform(X["Region"])

le_garden = LabelEncoder()
X["Garden(Yes/No)"] = le_garden.fit_transform(X["Garden(Yes/No)"])

le_holiday = LabelEncoder()
X["Holiday(Yes/No)"] = le_holiday.fit_transform(X["Holiday(Yes/No)"])

In [8]:
X

,No of Members Under 18,No of Members above 18,No of Water using Appliances,Garden(Yes/No),Season,Weather,Water Availability in Diff Sources,Region,Holiday(Yes/No)
0,3,4,14,0,0,0,5618,0,0
1,3,4,14,0,0,0,6131,0,0
2,3,4,14,0,0,1,5842,0,0
3,3,4,14,0,0,4,5969,0,0
4,3,4,14,0,0,2,6288,0,0
5,3,4,14,0,0,5,6396,0,0
6,3,4,14,0,0,5,5072,0,1
7,3,4,14,0,0,0,6401,0,0
8,3,4,14,0,0,5,6979,0,1
9,3,4,14,0,0,0,5317,0,1
10,3,4,14,0,0,5,5878,0,0
11,3,4,14,0,0,5,6105,0,1
12,3,4,14,0,0,4,6638,0,0
13,3,4,14,0,0,0,5475,0,0
14,3,4,14,0,0,5,5208,0,0
15,3,4,14,0,0,4,6352,0,0
16,3,4,14,0,0,3,6641,0,0
17,3,4,14,0,0,4,6191,0,1
18,3,4,14,0,0,3,6929,0,1
19,3,4,14,0,0,0,6374,0,0
20,3,4,14,0,0,5,6893,0,0
21,3,4,14,0,0,2,6494,0,0
22,3,4,14,0,0,0,6683,0,0
23,3,4,14,0,0,4,5005,0,0
24,3,4,14,0,0,1,6454,0,0
25,3,4,14,0,0,4,5892,0,1
26,3,4,14,0,0,5,5382,0,1
27,3,4,14,0,0,5,6665,0,0
28,3,4,14,0,0,5,6883,0,1
29,3,4,14,0,0,0,5599,0,0

## Training the Model

In [10]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X,y)

LinearRegression()

In [11]:
import pickle

In [12]:
with open('model_pickle.pkl', 'wb') as f:
    pickle.dump(regressor,f)